<div id="page" class="grid">
	<table class = "table">
		<tr>
			<td>Username</td>
			<td>Name</td> 
			<td>Email</td>
			<td>Number</td>
			<td>Address</td>
		</tr>
		<tr>
			<td><%= @user.username%></td>
			<td><%= @user.name%></td> 
			<td><%= @user.email%></td>
			<td><%= @user.number%></td>
			<td><%= @user.address%></td>
		</tr>
	</table>

	<%= link_to "Edit Profile", '/users/edit'%>
</div>