
<div class="col-1-1 center">
	<h2>Your Reservation:</h2>
</div>
<%@user.orders.each do |order|%>
<table>
	<tr>
		<td>Date and Time </td>
		<td><%= order.cleantime%></td>
	</tr>
	<tr>
		<td>Phone Number</td>
		<td><%= order.number%></td>
	</tr>
	<tr>
		<td>Number of Bedrooms</td>
		<td><%= order.rooms%></td>
	</tr>
	<tr>
		<td>Number of Bathrooms</td>
		<td><%= order.bathroom%></td>
	</tr>
	<tr>
		<td>Booking Duration</td>
		<td><%= order.cleanduration%></td>
	</tr><tr>
		<td>Cleaner</td>
		<td><%= order.cleaner%></td>
	</tr>
	<%end%>
</table>
