
<%= form_for @order, url: wizard_path, :validate => true do |f| %>
<div class="col-1-1 center">
  <h2>Tell us a little about yourself</h2>
</div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div></br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email%>
    <span class = "inline-error"><%= @order.errors[:email].join(", ")%> </span>
  </div></br>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number%>
    <span class = "inline-error"><%= @order.errors[:number].join(", ")%> </span>
  </div></br>
  <div class="field">
    <%= f.label :message, "Any comments on your booking?" %><br />
    <%= f.text_field :message%>
  </div></br>

  <div class="actions right">
        <%= f.submit "Book Reservation!" %>
  </div>
<% end %>
