<%= form_for @order, url: wizard_path do |f| %>
	<h2>Cost: </h2><%= @order.price%>
	  <div class="field">
    <%= f.label :cleaner %><br />
    <%= f.text_field :cleaner%>
  </div>
  <div class="actions right">
    <%= f.submit "Continue" %>
  </div>
<% end %>