
<%= form_for @order, url: wizard_path, :validate => true do |f| %>
<div class="col-1-1 center">
  <h2>Let us know when and where to go!</h2>
</div>
  <div class="field">
    <%= f.label :cleandate, "Booking Date" %><br />
    <%= f.date_select :cleandate, start_year: 2014, end_year: Date.today.year+1 %>
  </div></br>
  <div class="field">
    <%= f.label :cleantime, "Booking Start Time" %><br />
    <%= f.time_select :cleantime%>
  </div></br>
    <div class="field">
    <%= f.label :location, "Address" %><br />
    <%= f.text_field :location%>
    <span class = "inline-error"><%= @order.errors[:location].join(", ")%> </span>
  </div></br>
  <div class="actions right">
    <%= f.submit "Continue" %>
  </div>
<% end %>
