
<div class="col-1-1 center">
  <h2>Tell us about your home!</h2>
</div>

<div class="col-1-2">
    <%= form_for @order do |f| %>

      <div class="field">
        <%= f.label :rooms, "Rooms" %><br />
        <%= f.select :rooms, options_for_select([["One Bedroom", "1"], ["Two Bedrooms", "2"]]) %>
      </div>
</div>
<div class="col-1-2">
      <div class="field">
        <%= f.label :bathroom, "Bathrooms" %><br />
        <%= f.select :bathroom, options_for_select([["One Bathroom", "1"], ["Two Bathrooms", "2"]]) %>
      </div>
</div>
<div class="col-1-1">
      <div class="horiz-gutter"></div>
      <div class="field">
        <%= f.label :cleanduration, "Booking Duration" %><br />
        <%= f.number_field :cleanduration, :class => 'text_field', :step => 'any' %>
      </div></br>
        <div class="actions right">
          <%= f.submit "Continue" %>
        </div>  
    <% end %>
</div>
