

<header id="navbar" class="grid">
	<div class="col-1-3" style="width: 22%"></div>
	<div class="col-1-3">
		<%= link_to image_tag("logo.png", :border => 0, :id => 'logo', :class => 'nav-item' ), '/site/landing'%>
	</div>
	<div class="col-1-3" style="width: 40%">
		<div id="user-header">
			<% if current_user %>
				Logged in as <%= current_user.username %>.
				<%= link_to "Log Out", session_path("current"), :class=>"nav-item", method: "delete" %>
				<%= link_to "Orders", user_path(current_user.id), :class=>"nav-item"%>
				<%= link_to "Profile", '/users/profile', :class=>"nav-item"%>
			<% else %>
				<%= link_to "Sign Up", new_user_path, :class=>"nav-item" %>   or  
				<%= link_to "Log In", new_session_path, :class=>"nav-item" %>
		<% end %>
	</div>
</header>

</div>
