<!DOCTYPE html>
<html>
<head>
  <title>HomeFresh</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js' %>
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400' rel='stylesheet' type='text/css'>
  
  <%= csrf_meta_tags %>
  
</head>

<body>
	<%= render 'layouts/header' =%>	

	<%-# special pages have their own basic formatting -%>
	<% if request.env['PATH_INFO'] == "/site/landing" ||
						request.env['PATH_INFO'] == "/"%>
		<%= yield %>
	<%-# the rest have this basic formatting -%>
	<% else %>
		<div id="background-image" class="grid full-pic floor-cleaning-img">
	  		<div class="horiz-gutter"></div>
	  		<div id="page" class="grid small-page">
	    		<%= yield %>
	        </div>
		</div>
	<% end %>	
	

</body>
</html>
